version: "3.8"

services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.12.4-alpine
    ports:
      - "5672"
      - "15672"

  database:
    container_name: database
    image: postgres:15.4-alpine3.18
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5432"
    volumes:
      - ./backend/apps/content/dumps/dump.sql:/docker-entrypoint-initdb.d/dump.sql
      - db:/var/lib/postgresql/data

  api-gateway:
    container_name: api-gateway
    build:
      context: ./backend
      dockerfile: ./apps/backend/Dockerfile
      target: production
    # command: npm run start:dev backend
    env_file:
      - ./backend/.env
    depends_on:
      - content

  content:
    container_name: content-microservice
    build:
      context: ./backend
      dockerfile: ./apps/content/Dockerfile
      target: production
    # command: npm run start:dev content
    env_file:
      - ./backend/.env
    depends_on:
      - rabbitmq
      - database

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    env_file:
      - ./frontend/.env
    depends_on:
      - api-gateway

  nginx:
    container_name: nginx
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    volumes:
      - staticbuild:/usr/src/app/public
    depends_on:
      - frontend
    ports:
      - "80:80"

volumes:
  db:
  staticbuild:
