version: "3"

services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.12.4-alpine
    ports:
      - "5672:5672"
      - "15672:15672"

  database:
    container_name: database
    image: postgres:15.4-alpine3.18
    restart: always
    env_file:
      - ./.env
    # environment:
    #   - POSTGRES_USER=postgres
    #   - POSTGRES_PASSWORD=postgres
    #   - POSTGRES_DB=footykids
    ports:
      - "5432:5432"
    volumes:
      - ./apps/content/dumps/dump.sql:/docker-entrypoint-initdb.d/dump.sql
      - db:/var/lib/postgresql/data

  api-gateway:
    container_name: api-gateway
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    restart: always
    depends_on:
      - content
    ports:
      - "5000:5000"

  content:
    container_name: content-microservice
    build:
      context: .
      dockerfile: ./apps/content/Dockerfile
    restart: always
    tty: true
    depends_on:
      - rabbitmq
      - database

volumes:
  db: